
/* footer */

.footer * {
    background-color: #333;
}
.footerContent {
    display: flex;
    justify-content: space-between;
}
.footer {
    background-color: #333;
    color: white;
    padding: 40px 60px 20px;
    font-size: 16px;
    margin-top: 60px;
}

.footerSection1 {
    float: left;
    font-size: 25px;
}
.footerSection2 {
    font-size: 25px;
}
.footerSection2 h4 {
    font-size: 30px;
}
.footerSection3 {
    font-size: 25px;
}
.footerSection3 h4 {
    font-size: 30px;
}
.footerBottom {
    font-size: 23px;
}
